body {
    font-family: sans-serif;
    background-color: #f0f0f0;
  }
  h1{
    color: rgb(22, 255, 1);
  }
  
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .calculator {
    width: 45vw auto;
    margin: 0 auto;
    border: 2px solid #fdfcfc;
    border-radius: 5px;
    padding: 20px;
    background-color:#fff;
  }
  
  #display {
    width: 80%;
    height: 20px;
    border: 1px solid #e9e6e6;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    color: #f0eeee;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: repeat(5, 50px);
    grid-gap: 5px;
  }
  
  button {
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    border-color: #fff;
    background-color:#fff;
  }
  .operator {
    background-color: #000000;
    color: #eeeded;
  }
  #AC,#DEL{
    background-color: red;
    color:#ececec;
  }
  